<!-- BEGIN portal_row -->
	<!-- IF S_VIEW_USER_INFO and S_USER_INFO_ORDER --><div id="p{portal_row.POST_ID}" class="post <!-- IF portal_row.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF --><!-- IF portal_row.S_UNREAD_POST --> unreadpost<!-- ENDIF --><!-- IF portal_row.S_POST_REPORTED --> reported<!-- ENDIF --><!-- IF portal_row.S_ONLINE --> online<!-- ENDIF -->">
		<div class="inner"><span class="corners-top"><span></span></span>
			<!-- IF not portal_row.S_IGNORE_POST -->
				<!-- IF portal_row.POSTER_AVATAR or portal_row.RANK_IMG -->
				<div style="float:left;">
					<dl class="postprofile" style="min-height:40px;float:left;width:100%;border-left:0px;text-align:center;" id="profile{portal_row.POST_ID}">
						<dt>
							<!-- IF portal_row.POSTER_AVATAR -->
								<!-- IF portal_row.U_POST_AUTHOR --><a href="{portal_row.U_POST_AUTHOR}">{portal_row.POSTER_AVATAR}</a><!-- ELSE -->{portal_row.POSTER_AVATAR}<!-- ENDIF --><br />
							<!-- ENDIF -->
							<!-- IF portal_row.RANK_IMG --><dd>{portal_row.RANK_IMG}</dd><!-- ENDIF -->
						</dt>
					</dl>
				</div>
				<!-- ENDIF -->
				<div style="float:left;">
					<dl class="postprofile" style="min-height:40px;float:left;width:100%;border-left:0px;margin-top:10px" id="profile{portal_row.POST_ID}">
						<dt style="margin-bottom:3px">
							<!-- IF not portal_row.U_POST_AUTHOR --><strong>{portal_row.POST_AUTHOR_FULL}</strong><!-- ELSE -->{portal_row.POST_AUTHOR_FULL}<!-- ENDIF -->
							<!-- IF portal_row.RANK_TITLE --><br />{portal_row.RANK_TITLE}<!-- ENDIF -->
						</dt>
			
					<!-- IF portal_row.POSTER_POSTS != '' --><dd><strong>{L_POSTS}:</strong> {portal_row.POSTER_POSTS}</dd><!-- ENDIF -->
					<!-- IF portal_row.POSTER_JOINED --><dd><strong>{L_JOINED}:</strong> {portal_row.POSTER_JOINED}</dd><!-- ENDIF -->
					<!-- IF portal_row.POSTER_FROM --><dd><strong>{L_LOCATION}:</strong> {portal_row.POSTER_FROM}</dd><!-- ENDIF -->
			
					<!-- IF portal_row.S_PROFILE_FIELD1 -->
						<!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
						<dd><strong>{portal_row.PROFILE_FIELD1_NAME}:</strong> {portal_row.PROFILE_FIELD1_VALUE}</dd>
					<!-- ENDIF -->
			
					<!-- BEGIN custom_fields -->
						<dd><strong>{portal_row.custom_fields.PROFILE_FIELD_NAME}:</strong> {portal_row.custom_fields.PROFILE_FIELD_VALUE}</dd>
					<!-- END custom_fields -->
		
					<!-- IF not S_IS_BOT -->
				</div>
					<!-- IF portal_row.U_PM or portal_row.U_EMAIL or portal_row.U_WWW or portal_row.U_MSN or portal_row.U_ICQ or portal_row.U_YIM or portal_row.U_AIM -->
						<dd style="float:right;margin-right:75px;vertical-align:middle;">
							<ul class="profile-icons">
								<!-- IF portal_row.U_PM --><li class="pm-icon"><a href="{portal_row.U_PM}" title="{L_PRIVATE_MESSAGE}"><span>{L_PRIVATE_MESSAGE}</span></a></li><!-- ENDIF -->
								<!-- IF portal_row.U_EMAIL --><li class="email-icon"><a href="{portal_row.U_EMAIL}" title="{L_EMAIL}"><span>{L_EMAIL}</span></a></li><!-- ENDIF -->
								<!-- IF portal_row.U_WWW --><li class="web-icon"><a href="{portal_row.U_WWW}" title="{L_VISIT_WEBSITE}: {portal_row.U_WWW}"><span>{L_WEBSITE}</span></a></li><!-- ENDIF -->
								<!-- IF portal_row.U_MSN --><li class="msnm-icon"><a href="{portal_row.U_MSN}" title="{L_MSNM}"><span>{L_MSNM}</span></a></li><!-- ENDIF -->
								<!-- IF portal_row.U_ICQ --><li class="icq-icon"><a href="{portal_row.U_ICQ}" title="{L_ICQ}"><span>{L_ICQ}</span></a></li><!-- ENDIF -->
								<!-- IF portal_row.U_YIM --><li class="yahoo-icon"><a href="{portal_row.U_YIM}" title="{L_YIM}"><span>{L_YIM}</span></a></li><!-- ENDIF -->
								<!-- IF portal_row.U_AIM --><li class="aim-icon"><a href="{portal_row.U_AIM}" title="{L_AIM}"><span>{L_AIM}</span></a></li><!-- ENDIF -->
								<!-- IF portal_row.U_JABBER --><li class="jabber-icon"><a href="{portal_row.U_JABBER}" onclick="popup('{portal_row.U_JABBER}', 550, 320); return false;" title="{L_JABBER}"><span>{L_JABBER}</span></a></li><!-- ENDIF -->
							</ul>
						</dd>
					<!-- ENDIF -->
					<!-- ENDIF -->
			
					</dl>
				<!-- ENDIF -->

		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- ENDIF -->
	<!-- IF portal_row.S_FIRST_UNREAD --><a id="unread"></a><!-- ENDIF -->
	<div id="p{portal_row.POST_ID}" class="post <!-- IF portal_row.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF --><!-- IF portal_row.S_UNREAD_POST --> unreadpost<!-- ENDIF --><!-- IF portal_row.S_POST_REPORTED --> reported<!-- ENDIF -->">
		<div class="inner"><span class="corners-top"><span></span></span>

		<div class="postbody" style="width:100%">
			<!-- IF portal_row.S_IGNORE_POST -->
				<div class="ignore">{portal_row.L_IGNORE_POST}</div>
			<!-- ELSE -->

		<!-- IF not S_IS_BOT -->
			<!-- IF portal_row.U_QUOTE or portal_row.U_INFO or portal_row.U_DELETE or portal_row.U_EDIT -->
				<ul class="profile-icons">
					<!-- IF portal_row.U_QUOTE --><li class="quote-icon"><a href="{portal_row.U_QUOTE}" title="{L_REPLY_WITH_QUOTE}"><span>{L_REPLY_WITH_QUOTE}</span></a></li><!-- ENDIF -->
					<!-- IF portal_row.U_EDIT --><li class="edit-icon"><a href="{portal_row.U_EDIT}" title="{L_EDIT_POST}"><span>{L_EDIT_POST}</span></a></li><!-- ENDIF -->
					<!-- IF portal_row.U_DELETE --><li class="delete-icon"><a href="{portal_row.U_DELETE}" title="{L_DELETE_POST}"><span>{L_DELETE_POST}</span></a></li><!-- ENDIF -->
					<!-- IF portal_row.U_REPORT --><li class="report-icon"><a href="{portal_row.U_REPORT}" title="{L_REPORT_POST}"><span>{L_REPORT_POST}</span></a></li><!-- ENDIF -->
					<!-- IF portal_row.U_WARN --><li class="warn-icon"><a href="{portal_row.U_WARN}" title="{L_WARN_USER}"><span>{L_WARN_USER}</span></a></li><!-- ENDIF -->
					<!-- IF portal_row.U_INFO --><li class="info-icon"><a href="{portal_row.U_INFO}" title="{L_INFORMATION}"><span>{L_INFORMATION}</span></a></li><!-- ENDIF -->
				</ul>
			<!-- ENDIF -->
		<!-- ENDIF -->

			<h3><!-- IF portal_row.POST_ICON_IMG --><img src="{T_ICONS_PATH}{portal_row.POST_ICON_IMG}" width="{portal_row.POST_ICON_IMG_WIDTH}" height="{portal_row.POST_ICON_IMG_HEIGHT}" alt="" /> <!-- ENDIF --><a href="{portal_row.U_MINI_POST}">{portal_row.POST_SUBJECT}</a></h3>
			<p class="author"><!-- IF S_IS_BOT -->{portal_row.MINI_POST_IMG}<!-- ELSE --><a href="{portal_row.U_MINI_POST}">{portal_row.MINI_POST_IMG}</a><!-- ENDIF -->{L_POST_BY_AUTHOR} <strong>{portal_row.POST_AUTHOR_FULL}</strong> {L_POSTED_ON_DATE} {portal_row.POST_DATE} </p>

			<!-- IF portal_row.S_POST_UNAPPROVED or portal_row.S_POST_REPORTED -->
				<p class="rules">
					<!-- IF portal_row.S_POST_UNAPPROVED -->{UNAPPROVED_IMG} <a href="{portal_row.U_MCP_APPROVE}"><strong>{L_POST_UNAPPROVED}</strong></a><!-- ENDIF -->
					<!-- IF portal_row.S_POST_REPORTED -->{REPORTED_IMG} <a href="{portal_row.U_MCP_REPORT}"><strong>{L_POST_REPORTED}</strong></a><!-- ENDIF -->
				</p>
			<!-- ENDIF -->

			<div class="content">{portal_row.MESSAGE}<!-- IF portal_row.READ_MORE -->......<a href="{portal_row.U_MINI_POST}">{L_READ_MORE}</a><!-- ENDIF --></div>

			<!-- IF portal_row.S_HAS_ATTACHMENTS -->
				<dl class="attachbox">
					<dt>{L_ATTACHMENTS}</dt>
					<!-- BEGIN attachment -->
						<dd>{portal_row.attachment.DISPLAY_ATTACHMENT}</dd>
					<!-- END attachment -->
				</dl>
			<!-- ENDIF -->

			<!-- IF portal_row.S_DISPLAY_NOTICE --><div class="rules">{L_DOWNLOAD_NOTICE}</div><!-- ENDIF -->
			<!-- IF portal_row.EDITED_MESSAGE or portal_row.EDIT_REASON -->
				<div class="notice">{portal_row.EDITED_MESSAGE}
					<!-- IF portal_row.EDIT_REASON --><br /><strong>{L_REASON}:</strong> <em>{portal_row.EDIT_REASON}</em><!-- ENDIF -->
				</div>
			<!-- ENDIF -->

			<!-- IF portal_row.BUMPED_MESSAGE --><div class="notice">{portal_row.BUMPED_MESSAGE}</div><!-- ENDIF -->
			<!-- IF portal_row.SIGNATURE and S_VIEW_SIGNATURE --><div id="sig{portal_row.POST_ID}" class="signature">{portal_row.SIGNATURE}</div><!-- ENDIF -->
		<!-- ENDIF -->

		</div>

		<div class="back2top"><a href="#wrap" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a></div>

		<span class="corners-bottom"><span></span></span></div>
	</div>

	<!-- IF S_VIEW_USER_INFO and not S_USER_INFO_ORDER --><div id="p{portal_row.POST_ID}" class="post <!-- IF portal_row.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF --><!-- IF portal_row.S_UNREAD_POST --> unreadpost<!-- ENDIF --><!-- IF portal_row.S_POST_REPORTED --> reported<!-- ENDIF --><!-- IF portal_row.S_ONLINE --> online<!-- ENDIF -->">
		<div class="inner"><span class="corners-top"><span></span></span>
			<!-- IF not portal_row.S_IGNORE_POST -->
				<!-- IF portal_row.POSTER_AVATAR or portal_row.RANK_IMG -->
				<div style="float:left;">
					<dl class="postprofile" style="min-height:40px;float:left;width:100%;border-left:0px;text-align:center;" id="profile{portal_row.POST_ID}">
						<dt>
							<!-- IF portal_row.POSTER_AVATAR -->
								<!-- IF portal_row.U_POST_AUTHOR --><a href="{portal_row.U_POST_AUTHOR}">{portal_row.POSTER_AVATAR}</a><!-- ELSE -->{portal_row.POSTER_AVATAR}<!-- ENDIF --><br />
							<!-- ENDIF -->
							<!-- IF portal_row.RANK_IMG --><dd>{portal_row.RANK_IMG}</dd><!-- ENDIF -->
						</dt>
					</dl>
				</div>
				<!-- ENDIF -->
				<div style="float:left;">
					<dl class="postprofile" style="min-height:40px;float:left;width:100%;border-left:0px;margin-top:10px" id="profile{portal_row.POST_ID}">
						<dt style="margin-bottom:3px">
							<!-- IF not portal_row.U_POST_AUTHOR --><strong>{portal_row.POST_AUTHOR_FULL}</strong><!-- ELSE -->{portal_row.POST_AUTHOR_FULL}<!-- ENDIF -->
							<!-- IF portal_row.RANK_TITLE --><br />{portal_row.RANK_TITLE}<!-- ENDIF -->
						</dt>
			
					<!-- IF portal_row.POSTER_POSTS != '' --><dd><strong>{L_POSTS}:</strong> {portal_row.POSTER_POSTS}</dd><!-- ENDIF -->
					<!-- IF portal_row.POSTER_JOINED --><dd><strong>{L_JOINED}:</strong> {portal_row.POSTER_JOINED}</dd><!-- ENDIF -->
					<!-- IF portal_row.POSTER_FROM --><dd><strong>{L_LOCATION}:</strong> {portal_row.POSTER_FROM}</dd><!-- ENDIF -->
			
					<!-- IF portal_row.S_PROFILE_FIELD1 -->
						<!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
						<dd><strong>{portal_row.PROFILE_FIELD1_NAME}:</strong> {portal_row.PROFILE_FIELD1_VALUE}</dd>
					<!-- ENDIF -->
			
					<!-- BEGIN custom_fields -->
						<dd><strong>{portal_row.custom_fields.PROFILE_FIELD_NAME}:</strong> {portal_row.custom_fields.PROFILE_FIELD_VALUE}</dd>
					<!-- END custom_fields -->
		
					<!-- IF not S_IS_BOT -->
				</div>
					<!-- IF portal_row.U_PM or portal_row.U_EMAIL or portal_row.U_WWW or portal_row.U_MSN or portal_row.U_ICQ or portal_row.U_YIM or portal_row.U_AIM -->
						<dd style="float:right;margin-right:75px;vertical-align:middle;">
							<ul class="profile-icons">
								<!-- IF portal_row.U_PM --><li class="pm-icon"><a href="{portal_row.U_PM}" title="{L_PRIVATE_MESSAGE}"><span>{L_PRIVATE_MESSAGE}</span></a></li><!-- ENDIF -->
								<!-- IF portal_row.U_EMAIL --><li class="email-icon"><a href="{portal_row.U_EMAIL}" title="{L_EMAIL}"><span>{L_EMAIL}</span></a></li><!-- ENDIF -->
								<!-- IF portal_row.U_WWW --><li class="web-icon"><a href="{portal_row.U_WWW}" title="{L_VISIT_WEBSITE}: {portal_row.U_WWW}"><span>{L_WEBSITE}</span></a></li><!-- ENDIF -->
								<!-- IF portal_row.U_MSN --><li class="msnm-icon"><a href="{portal_row.U_MSN}" title="{L_MSNM}"><span>{L_MSNM}</span></a></li><!-- ENDIF -->
								<!-- IF portal_row.U_ICQ --><li class="icq-icon"><a href="{portal_row.U_ICQ}" title="{L_ICQ}"><span>{L_ICQ}</span></a></li><!-- ENDIF -->
								<!-- IF portal_row.U_YIM --><li class="yahoo-icon"><a href="{portal_row.U_YIM}" title="{L_YIM}"><span>{L_YIM}</span></a></li><!-- ENDIF -->
								<!-- IF portal_row.U_AIM --><li class="aim-icon"><a href="{portal_row.U_AIM}" title="{L_AIM}"><span>{L_AIM}</span></a></li><!-- ENDIF -->
								<!-- IF portal_row.U_JABBER --><li class="jabber-icon"><a href="{portal_row.U_JABBER}" onclick="popup('{portal_row.U_JABBER}', 550, 320); return false;" title="{L_JABBER}"><span>{L_JABBER}</span></a></li><!-- ENDIF -->
							</ul>
						</dd>
					<!-- ENDIF -->
					<!-- ENDIF -->
			
					</dl>
				<!-- ENDIF -->

		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- ENDIF -->

	<hr class="divider" />
<!-- END portal_row -->