<div class="navbar bg3">
	<div class="inner"><span class="corners-top"><span></span></span>
		<div>
			<div class="gensmall">
			<h3 class="portalheader"><a href="{U_SEARCH}">{L_SEARCH}</a></h3>
			<form method="post" action="{U_SEARCH}">
				<input type="text" name="keywords" id="searchfield" size="15" maxlength="40" value="" class="inputbox autowidth" />&nbsp;{S_HIDDEN_FIELDS}&nbsp;<input type="submit" value="{L_SEARCH}" class="button2" />
			</form>
			<br />
			<a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}">{L_SEARCH_ADV}</a>
			</div>
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
<br />