<hko>
<!-- IF S_SHOW_TOPICS -->
	<TOTAL_MATCHES>{TOTAL_MATCHES}</TOTAL_MATCHES>
	<!-- IF .searchresults -->
	<searchresults>
		<!-- BEGIN searchresults -->
			<searchresult>
				<TOPIC_TITLE>{searchresults.TOPIC_TITLE}</TOPIC_TITLE>
				<U_VIEW_TOPIC>{searchresults.U_VIEW_TOPIC}</U_VIEW_TOPIC>
				<TOPIC_AUTHOR>{searchresults.TOPIC_AUTHOR}</TOPIC_AUTHOR>
				<TOPIC_AUTHOR_FULL>{searchresults.TOPIC_AUTHOR_FULL}</TOPIC_AUTHOR_FULL>
				<FIRST_POST_TIME>{searchresults.FIRST_POST_TIME}</FIRST_POST_TIME>
				<U_VIEW_FORUM>{searchresults.U_VIEW_FORUM}</U_VIEW_FORUM>
				<FORUM_TITLE>{searchresults.FORUM_TITLE}</FORUM_TITLE>
				<TOPIC_REPLIES>{searchresults.TOPIC_REPLIES}</TOPIC_REPLIES>
				<TOPIC_VIEWS>{searchresults.TOPIC_VIEWS}</TOPIC_VIEWS>
				<LAST_POST_AUTHOR_FULL>{searchresults.LAST_POST_AUTHOR_FULL}</LAST_POST_AUTHOR_FULL>
				<U_LAST_POST>{searchresults.U_LAST_POST}</U_LAST_POST>
				<LAST_POST_TIME>{searchresults.LAST_POST_TIME}</LAST_POST_TIME>
				<LINE_ID>{searchresults.LINE_ID}</LINE_ID>
				<LZ_U_FORUM_ID>{searchresults.LZ_U_FORUM_ID}</LZ_U_FORUM_ID>
				<LZ_RESULT_TOPIC_ID>{searchresults.LZ_RESULT_TOPIC_ID}</LZ_RESULT_TOPIC_ID>
				<LZ_TOPIC_POSTER>{searchresults.LZ_TOPIC_POSTER}</LZ_TOPIC_POSTER>
			</searchresult>
		<!-- END searchresults -->
	</searchresults>
	<!-- ENDIF -->
<!-- ENDIF -->
</hko>
