<?xml version="1.0" encoding="UTF-8"?>
<hko>
	<FORUM_ID>{FORUM_ID}</FORUM_ID>
	<FORUM_NAME>{FORUM_NAME}</FORUM_NAME>
	<FORUM_DESC>{FORUM_DESC}</FORUM_DESC>
	<TOPIC_ID>{TOPIC_ID}</TOPIC_ID>
	<TOPIC_TITLE>{TOPIC_TITLE}</TOPIC_TITLE>
	<TOPIC_POSTER>{TOPIC_POSTER}</TOPIC_POSTER>
	<TOPIC_AUTHOR>{TOPIC_AUTHOR}</TOPIC_AUTHOR>
	<TOPIC_AUTHOR_ID>{TOPIC_AUTHOR_ID}</TOPIC_AUTHOR_ID>
	<TOTAL_POSTS_NUM>{TOTAL_POSTS_NUM}</TOTAL_POSTS_NUM>
<!-- BEGIN postrow -->
	<postrow>
		<POST_ID>{postrow.POST_ID}</POST_ID>
		<POST_AUTHOR>{postrow.POST_AUTHOR}</POST_AUTHOR>
		<POST_AUTHOR_ID>{postrow.POST_AUTHOR_ID}</POST_AUTHOR_ID>
		<MESSAGE_ORI>{postrow.MESSAGE_ORI}</MESSAGE_ORI>
		<POST_DATE>{postrow.POST_DATE}</POST_DATE>
	</postrow>
<!-- END postrow -->
</hko>
