<!-- IF S_CAN_VIEW_ATTACHMENT -->
<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th>{L_DOWNLOADS}</th>
</tr>
<tr> 
	<td class="row1"><br /><!-- BEGIN download -->
		<div style="text-align:center">{download.THUMBNAIL}
		<strong>{download.FILENAME}</strong><br />
		<div style="font-style:italic">{download.COMMENT}</div><br /></div>
		{L_BY} {download.POSTER}<br />
		{L_ON} {download.FILETIME}<br />
		{L_IN} {download.TOPIC}<br /><br />
		{download.DOWNLOAD_LINK}<br />
		{download.DOWNLOAD_COUNT}<br />
		{download.FILESIZE} {L_BYTES}<br />
		<!-- END download --><br />
	</td>
</tr>
</table>
<br />
<!-- ENDIF -->