<!-- IF .friends_online or .friends_offline and S_USER_LOGGED_IN -->
<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th>{L_FRIENDS}</th>
</tr>
<tr> 
	<td class="row1"><br />
			<!-- BEGIN friends_online -->
				<dd class="friend-online" title="{L_FRIENDS_ONLINE}">{friends_online.USERNAME_FULL} <!-- IF S_SHOW_PM_BOX --> <input type="submit" name="add_to[{friends_online.USER_ID}]" value="{L_ADD}" class="button2" /><!-- ENDIF --><!-- IF friends_online.S_LAST_ROW and .friends_offline --><hr /><!-- ENDIF --></dd>
			<!-- END friends_online -->
	
			<!-- BEGIN friends_offline -->
				<dd class="friend-offline" title="{L_FRIENDS_OFFLINE}">{friends_offline.USERNAME_FULL} <!-- IF S_SHOW_PM_BOX --><input type="submit" name="add_to[{friends_offline.USER_ID}]" value="{L_ADD}" class="button2" /><!-- ENDIF --></dd>
			<!-- END friends_offline --><br /></td>
</tr>
</table>
<br />
<!-- ENDIF --> 