<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th><a href="{U_SEARCH}">{L_SEARCH}</a></th>
	</tr>
	<tr class="row1">
		<td height="50px" align="center">
		<form method="POST" action="{U_SEARCH}">
			<input type="text" class="post" name="keywords" size="13" maxlength="40" value="" />&nbsp;{S_HIDDEN_FIELDS}&nbsp;<input name="submit" type="submit" value="{L_SEARCH}" />
		</form>
		<a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}">{L_SEARCH_ADV}</a>
		</td>
	</tr>
</table>
<br />